---
import Header from "../components/Header.astro";
import BaseHead from"../components/BaseHead.astro";
import Carousel from "../components/Carousel.tsx";


import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.ts';

let cavup_vals = [ "85", "95", "105", "115", "125", "135", "145", "155", "165", "175"];
let cavdown_vals = ["45", "55", "65", "75", "85", "95", "105", "115", "125"];

// consider turning date item into date javascript object
const articleData = [{id: 0, title: "Is it still worth it to learn to code.", description: "description 0", date: "July 3, 2002", ISO_date: "2022-09-27", src: "src/assets/compressed-article-placeholders/shrimpson-boys.webp", alt: "", tags: [{id: 0, tagName:"JS"}, {id: 1, tagName:"TS"}]},
                    {id: 1, title: "Title 1", description: "This description is for ensuring that content is properly truncated when content would \
                    otherwise overflow and ruin the look of the card. Additionally it an ellipses is stuck at the end of truncation to make clear to \
                    the user that content has been cut off", src: "src/assets/compressed-article-placeholders/kon.webp", date: "September 29, 2015", ISO_date: "2022-09-27",alt: "", tags: [{id: 0, tagName:"JS"}, {id: 1, tagName:"TS"}]},
                    {id: 2, title: "Title 2", description: "This description is for ensuring that content is properly truncated when content would \
                    otherwise overflow and ruin the look of the card. Additionally it an ellipses is stuck at the end of truncation to make clear to \
                    the user that content has been cut off", src: "src/assetscompressed-article-placeholderss/power-1.webp", date: "April 4, 2016", ISO_date: "2022-09-27", alt: "", tags: [{id: 0, tagName:"JS"}, {id: 1, tagName:"TS"}]},
                    {id: 3, title: "Title 3", description: "description 4", src: "src/assets/compressed-article-placeholders/CSM-3-rooms.webp", date: "March 6, 2019", ISO_date: "2022-09-27", alt: "", tags: [{id: 0, tagName:"JS"}, {id: 1, tagName:"TS"}]},
                    {id: 4, title: "Title 4", description: "description 5", src: "src/assets/compressed-article-placeholders/Cytus-wallpaper v2.webp",  date: "November 25, 2016", ISO_date: "2022-09-27", alt: "", tags: [{id: 0, tagName:"JS"}, {id: 1, tagName:"TS"}]},
                    {id: 5, title: "Deep Learning for Natural Language Processing: Techniques and Applications", description: "This description is for ensuring that content is properly truncated when content would \
                    otherwise overflow and ruin the look of the card. Additionally it an ellipses is stuck at the end of truncation to make clear to \
                    the user that content has been cut off", src: "src/assets/compressed-article-placeholders/lisa-wp-edit.webp", date: "July 12, 2016", ISO_date: "2022-09-27", alt: "", tags: [{id: 0, tagName:"JS"}, {id: 1, tagName:"TS"}]},
                    {id: 6, title: "Why is Alegria art hated so much?", description: "description 7", src: "src/assets/compressed-article-placeholders/rin-phone-wp.webp", date: "September 18, 2017", ISO_date: "2022-09-27", alt: "", tags: [{id: 0, tagName:"JS"}, {id: 1, tagName:"TS"}]},
                    {id: 7, title: "Demystifying Quantum Computing: A Beginner’s Guide", description: "description 8", src: "src/assets/compressed-article-placeholders/kita-bocchi-phone-wp-2.webp", date: "February 22, 2018", alt: "", tags: [{id: 0, tagName:"JS"}, {id: 1, tagName:"TS"}]}];
---

<html class="bg-PWWhite">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Note that I am using display block -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <!-- body requires flex and flex-col to ensure that margins do not collapse -->
    <body class="flex flex-col">
        <Header isLandingPage={false} BGColor="PWWhite" color='PWBlack'></Header>
        <main class="flex flex-col items-center justify-center mt-10">
            <h1 class="font-notoSerifDisplay text-7xl font-black text-PWBlack mx-5 text-center">
                Karan Swansi's <span class="text-PWBlue-500">Writings</span>
            </h1>
            <!-- Featured -->
            <h2 class="font-notoSerifDisplay text-5xl font-black mt-10 text-PWBlack mx-5 text-center">
                Stuff I'm Most Proud of:
            </h2>
        
            <Carousel client:load/>
        
            <!-- articles -->
            <h2 class="font-notoSerifDisplay text-5xl font-black mt-10 text-PWBlack mx-5 text-center">
                All of my <span class="text-PWBlue-500">Writings</span>
            </h2>
            <p class="font-notoSerif text-xl font-bold mt-10 text-PWBlack text-center">Looking For Something?</p>
            
            <!-- search bar. -->
            <!-- max-w calc because of funny inline element behavior with auto width made implementing
            the margin fairly difficult. typically auto for block level element would handle this nicely while respecing margins,
            border, and padding. Not worth fully understanding how to do without max-w calc atm -->
            <input class="box-border h-12 my-5 w-[33rem] max-w-[calc(100%_-_2.5rem)] 
            font-notoSerif appearance-none rounded self-center text-PWBlack"
            type="search"> 
                
            </input>

            <!-- article area -->
            <section class="flex flex-col gap-3 w-fit max-w-[40rem] mx-5 mt-10">
                {articleData.map(((articleDatum) =>
                    // anchor tag is not most accessible, but best that I can do right now
                    <a href={"/AboutMe"} >
                        <article class="flex flex-row p-2 rounded-xl
                        hover:shadow-[0_0_0_0.5rem_rgba(0_0_0_/_5%)] hover:bg-[rgb(0_0_0_/_5%)] duration-200
                        focus-within:shadow-[0_0_0_0.5rem_rgba(0_0_0_/_5%)] focus-within:bg-[rgb(0_0_0_/_5%)]">
                            <date class="shrink-0 w-24 font-notoSerif title-text text-base font-base">{articleDatum.ISO_date}</date>
                            <div class="flex flex-col shrink">
                                <h6 class="font-notoSerif advanced-truncation-1 title-text text-base font-bold min-w-[10rem]">
                                    {articleDatum.title}
                                </h6>
                                <p class="font-notoSerif advanced-truncation-1 text-base"> {articleDatum.description}</p>
                            </div>
                        </article>
                    </a>
                ))}
            </section>
        </main>
    </body>
</html>