---
import Tag from "./Tag.jsx";

interface Props  {
    articleDatum: {    
        id: number,
        title: string,
        description: string,
        src: string,
        date: string,
        alt: string,
        tags: {id: number, tagName: string}[]
    }
};

const {id, title, description, src, date, alt, tags} = Astro.props.articleDatum;
// for hover styling stuff: https://inclusive-components.design/cards/, https://dev.to/hybrid_alex/better-css-outlines-with-box-shadows-1k7j
// for accessible linking: https://inclusive-components.design/cards/,
---

<article class="flex flex-col gap-3 rounded-xl p-1 relative duration-200 aspect-square
hover:shadow-[0_0_0_0.5rem_rgba(0_0_0_/_5%)] hover:bg-[rgb(0_0_0_/_5%)]
focus-within:shadow-[0_0_0_0.5rem_rgba(0_0_0_/_5%)] focus-within:bg-[rgb(0_0_0_/_5%)]">
    <img class="object-cover w-full rounded-xl aspect-[16/9]" src={src} alt={alt}>
    <div class="flex flex-col w-full py-2 gap-3 font-notoSerif">
        <div class="flex flex-col gap-3 overflow-hidden">
            <h6 class="text-md font-bold overflow-hidden advanced-truncation-2">
                <a class="after:absolute after:inset-0 focus:outline-none
                " href="/AboutMe">
                    {title}
                </a>
            </h6>
            <p class="text-sm max-h-14 overflow-hidden advanced-truncation-2 " >
                {date}
            </p>
        </div>
        <div class="flex flex-row gap-1 ">
        {
            tags.map((tagData) => 
                <Tag tagData={tagData}/>
            )
        }
        </div>
    </div>
</article>