---
import Header from "../../components/Header.astro";
import BaseHead from"../../components/BaseHead.astro";
import Carousel from "../../components/Carousel.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts.ts';
import { getCollection, type CollectionEntry} from "astro:content";
import ArticleCard from "../../components/ArticleCard.astro";


type PortfolioEntry = CollectionEntry<"portfolio">;
const portfolio  : PortfolioEntry[] = (await getCollection("portfolio")).sort((a, b) => {
    return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});

const featuredPortfolio : PortfolioEntry[] = portfolio.filter((portfolioEntry) => portfolioEntry.data.isFeatured == true);


// console.log(featuredPortfolio);
---

<html class="bg-PWWhite">
    <head>
        <!-- use preload sparingly clogs things up quite a bit otherwise preconnect 
        creates network connection before loading the rest. FOUT is usually better than FOIT -->
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=fallback" rel="stylesheet">
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <!-- body requires flex and flex-col to ensure that margins do not collapse -->
    <body class="flex flex-col  mb-5">
        <Header isLandingPage={false} BGColor="PWWhite" color='PWBlack'></Header>
        <main class="flex flex-col items-center justify-center mt-10">
            <h1 class="font-notoSerifDisplay text-6xl font-black text-PWBlack mx-5 text-center">
                Karan Swansi's <span class="text-PWRed-600">Portfolio</span>
            </h1>
            <!-- Featured -->
            <h2 class="font-notoSerifDisplay text-4xl font-black mt-10 text-PWBlack mx-5 text-center">
                Stuff I'm Most Proud of:
            </h2>

            <!-- grid item cannot be smaller than the size of its content (auto) by default. 
                same applies to flex along the main axis. Interesting stackoverflow threads on this:
                https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items
                https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
            -->
            <!-- client:load -->
            <Carousel carouselData={featuredPortfolio}/>

            <!-- articles -->
            <h2 class="font-notoSerifDisplay text-4xl font-black mt-10 text-PWBlack mx-5 text-center">
                All of my <span class="text-PWRed-600"> Projects </span>  
            </h2>
            <p class="font-notoSerif text-xl font-medium mt-10 text-PWBlack text-center	">Looking For Something?</p>
            
            <!-- search bar -->
            <!-- max-w calc because of funny inline element behavior with auto width made implementing
            the margin fairly difficult. typically auto for block level element would handle this nicely while respecing margins,
            border, and padding. Not worth fully understanding how to do without max-w calc atm -->
            <input class="box-border h-12 my-5 w-[33rem] max-w-[calc(100%_-_2.5rem)] 
            font-notoSerif appearance-none rounded self-center text-PWBlack"
            type="search"> 
                
            </input>


            <!-- portfolio area -->
            {portfolio ? (
                <section class="mt-10 gap-5 mx-4 grid portfolio-area
                                grid-cols-[repeat(_1,_minmax(_18rem,_30rem))]
                                lg:grid-cols-[repeat(_4,_minmax(_18rem,_30rem))]
                                md:grid-cols-[repeat(_3,_minmax(_18rem,_30rem))]
                                sm:grid-cols-[repeat(_2,_minmax(_18rem,_30rem))]">
                    {portfolio.map((portfolioDatum) => 
                        <ArticleCard articleDatum={portfolioDatum}/>
                    )}
                </section>
            ) : (
                <p class="font-notoSerif text-xl font-medium mt-10 text-PWBlack text-center	">
                    Nothing here yet? Might be an error or I haven't added anything yet.
                </p>
            )}

        </main>
    </body>
</html>

